.MenuZag{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 32px;
    align-items: center;
}

.PizzaH1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Filter{
    width: 126px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 6px;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.Pizzas, .Sushi, .Snacks{
    display: flex;
    width: 100%;
    justify-content: space-between;
}