.Sales{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.SaleOne, .SaleTwo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 343px;
    display: flex;
    align-items: end;
    padding: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.SaleOne{
    background-image: url(/image/salepiza.webp);
}

.SaleTwo{
    background-image: url(/image/keshbek.webp);
}